* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 16px;
}

.header {
  padding: 0px;
  text-align: center;
  background: #fff;
  color: #000;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  transition: all 0.3s ease;
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #008000;
  color: white;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: #fff;
  padding: 20px;
}

.main {
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: #fff;
  padding: 20px;
}

.big_img {
  background-color: #aaa;
  max-width: 80%;
  height: auto;
  padding: 0;
  margin: 14px;
}

.resume_header {
  overflow: hidden;
}

.resume_header a {
  color: #000;
  display: block;
  padding: 14px 20px;
  text-decoration: none;
}

.resume_header a:hover {
 transition: all 0.3s ease;
 background-color: #ddd;
 color: black;
}

.resume_info h2 {
  padding-left: 40px;
  text-align: center;
}

.resume_info p {
  padding-left: 40px;
  text-align: center;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .big_img {
    max-width: 50%;
  }

  .navbar {
    position: static;
  }

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar {
    position: static;
  }

  .navbar a {
    float: none;
    width: 100%;
  }

  .big_img {
    max-width: 50%;
  }
}
