* {
  box-sizing: border-box; /* width includes border and contents*/
}

/* Style the body */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 16px;
}

/* Header/logo Title */
.header {
  padding: 0px;
  text-align: center;
  background: #fff;
  color: #000;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  transition: all 0.3s ease;
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #008000;
  color: white;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: #fff;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: #fff;
  padding: 20px;
}

/* Fake image, just for this example */
.big_img {
  background-color: #aaa;
  max-width: 80%;
  height: auto;
  padding: 0;
  margin: 14px;
}

.resume_header {
  overflow: hidden;
}

.resume_header a {
  color: #000;
  display: block;
  padding: 14px 20px;
  text-decoration: none;
}

.resume_header a:hover {
 transition: all 0.3s ease;
 background-color: #ddd;
 color: black;
}

.resume_info h2 {
  padding-left: 40px;
  text-align: center;
}

.resume_info p {
  padding-left: 40px;
  text-align: center;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
